# My First Python Jupyter Notebook

In [ ]:
# Title 

my_income = 100
tax_rate = 0.1 #percentage
my_taxes = my_income * tax_rate
my_taxes

In [51]:
some_string = "This is my string"
a = some_string[1]
b = some_string[2:5:1]
c = some_string[-1]
print(a)
print(b)
print(c)

h
is
g

In [52]:
len(b)

3

In [54]:
mystring = "Hello World"
mystring

'Hello World'

In [55]:
mystring[0]

'H'

In [56]:
mystring[8]

'r'

In [57]:
mystring[9]

'l'

In [58]:
mystring[-2]

'l'

In [59]:
mystring[-3]

'r'

In [60]:
mystring = "abcdefghijk "

In [61]:
mystring[2:]

'cdefghijk '

In [62]:
mystring[3:-2]

'defghij'

In [63]:
mystring[:3]

'abc'

In [66]:
mystring[4:-3]

'efghi'

mystring[::2]

In [68]:
mystring[::3]

'adgj'

In [69]:
mystring[::-1]

' kjihgfedcba'

In [71]:
a = "Hello World"
b = a[8]
print(b)

r

In [72]:
my_name = "Jose"

In [74]:
print("Hello " + my_name)

Hello Jose

In [75]:
print("This is a string {}".format("Inserted"))

This is a string Inserted

In [79]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [82]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [86]:
result = 104.345
print('The result was {r:6.5f}'.format(r=result))

The result was 104.34500

In [87]:
name = "Jose"

In [89]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

Name = 'Sam'

In [91]:
name = "Sam"
age = 3

In [92]:
print(f'{name} is {age} years old')

Sam is 3 years old

In [94]:
say = "Python Rules!"
print('{}'.format(say))

Python Rules!

In [96]:
print('{}'.format("Python Rules!"))

Python Rules!

In [97]:
mylist = [1,2,3]

In [98]:
mylist = ["Tim",30,20.0]

In [99]:
len(mylist)

3

In [100]:
print(mylist)

['Tim', 30, 20.0]

In [101]:
mylist = ["one", "two", "three"]

In [102]:
mylist[0]

'one'

In [103]:
mylist[1:]

['two', 'three']

In [104]:
anotherlist = ["four", "five"]
newlist = mylist + anotherlist
newlist

['one', 'two', 'three', 'four', 'five']

In [105]:
newlist[0] = "ONE"
newlist

['ONE', 'two', 'three', 'four', 'five']

In [106]:
newlist.append('six')

In [108]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six']

In [110]:
newlist[0] = "one"

In [111]:
newlist

['one', 'two', 'three', 'four', 'five', 'six']

In [112]:
newlist.pop()

'six'

In [113]:
newlist

['one', 'two', 'three', 'four', 'five']

In [114]:
newlist.pop()

'five'

In [115]:
newlist

['one', 'two', 'three', 'four']

In [116]:
poppeditem = newlist.pop()
poppeditem

'four'

In [118]:
newlist.append(poppeditem)
newlist

['one', 'two', 'three', 'four']

In [119]:
newlist = ['a','e','x','b','c']
numlist = [4,1,8,3]

In [120]:
newlist.sort()

In [121]:
newlist

['a', 'b', 'c', 'e', 'x']

In [122]:
numlist.sort()
numlist

[1, 3, 4, 8]

In [123]:
alist = numlist

In [124]:
alist

[1, 3, 4, 8]

In [125]:
alist.reverse()
alist

[8, 4, 3, 1]